name: Package and Release

on:
  push:
    branches:
      - master
    paths:
      - 'Data.lua'
  workflow_dispatch:  # Manual trigger option

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Need full history for packager
      
      - name: Package and Upload
        uses: BigWigsMods/packager@v2
        with:
          args: -p ${{ secrets.CF_API_TOKEN }}
        env:
          CF_API_KEY: ${{ secrets.CF_API_TOKEN }}

      - name: "Set ENV Variable: Upload to CurseForge"
        if: ${{ env.uploadCurseForge != 'false' }}
        run: |
          echo CF_API_KEY="${{ secrets.CF_API_KEY }}" >> $GITHUB_ENV

      - uses: BigWigsMods/packager@v2


